@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --desat-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* Neutral colors */
  --dark-grey-red: hsl(0, 6%, 24%);
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  /* background-color: var(--desat-red); */
}

.App {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}
